{% extends "base.html" %}
{% block content %}

<body>

    {% include "partials/navbar.html" %}

    <div class="container">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
            style="margin-top: 100px; margin-bottom: 20px;">
            New Project +
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Upload dataset</h5>
                        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form enctype="multipart/form-data" method="POST" action="">
                        <div class="modal-body">
                            <!-- File Name -->
                            {% csrf_token %}
                            <label for="formFile" class="form-label">File Name</label>
                            {{ form.name }}

                            <label for="description" class="form-label">Project Description</label>
                            {{ form.description }}
                            <!-- Upload File -->
                            <div class="mb-1 mt-2">
                                <label for="formFile" class="form-label">Upload dataset</label>
                                {{ form.filepath }}
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Upload</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <h5 class="mt-3 text-start" style="margin-left: 0.7rem;">Example Projects</h5>
        <hr>

        <!-- Cards -->
        <div class="container d-flex align-items-center justify-content-center">
            {% if datafiles %}
            <div class="row row-cols-1 row-cols-md-3 g-4">
                {% for o in datafiles %}
                <div class="col">
                    <div class="card" style="width: 100%">
                        <img src="/static/card-bg.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{ o.name }}</h5>
                            <p class="card-text">{{ o.description }}</p>
                            <a href="/graph/{{o.id}}" class="btn btn-primary">Open Project</a>
                            <a href="/download-xlsx/{{o.id}}" class="btn btn-primary" >Download Project</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <h2 class="mt-3">Please upload your files first.</h2>
            {% endif %}
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
{% endblock content %}